@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap');

:root{
    --gradientA:linear-gradient(to top, #cfd9df8f 0%, #e2ebf0a1 100%);
    --gradientB:linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    --url-img: url("../img/ejemplo1.jpg");
    --box-shadow: 6px 6px 10px rgba(0, 0, 0, .2);
    --width: 100%;
    --radius: 8px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Jost", sans-serif;
    background-image: var(--gradientA), var(--url-img);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    overflow: hidden;
}

.form{
    width: 400px;
    background: #fff;
    margin: 70px auto;
    padding: 30px 20px 40px;
    text-align: center;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
}

.input{
    width: var(--width);
    padding: 20px 5px;
    display: block;
    margin-bottom: 20px;
    border: 1px solid #c2c2c2;
    outline: none;
    border-radius: var(--radius);
}

.form__title{
    margin-bottom: 30px;
    font-size: 2rem;
    color: rgb(127, 179, 130);
}

.form__message{
    max-width: var(--width);
    min-width: var(--width);
    min-height: 150px;
    max-height: 150px;
}

.form__submit{
    width: var(--width);
    font-size: 18px;
    background: var(--gradientB);
    padding: 15px 30px;
    border: none;
    color: gray;
    cursor: pointer;
    transition: 0.5s;
    border-radius: var(--radius);
}

.form__submit:hover{
    background-image: var(--gradientA);
    color: #00000098;
}

@media screen and (max_width:780px) {
    body{
        padding: 60px 0;
    }

    .form{
        margin: 0px auto;
    }
}

@media screen and (max_width:425px) {
    .body{
        padding: 40px 0;
    }

    .form{
        width: 90%;
    }

    .form__title{
        font-size: 1.5rem;
    }

    .form__submit{
        font-size: 14px;
    }
}

.input--nombre{
    border-color: #0bdddd96;
    background-color: #ffffff;
}

.input--email{
    border-color: #0bdddd96;
    background-color: #ffffff;
}

.input--message{
    border-color: #0bdddd96;
    background-color: #ffffff;
}

.submit--button{
    background-image:linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    transform: matrix(5);
    color: rgb(0, 0, 0);
}